#root {
  max-width: 1280px;

}
html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

@font-face {
    font-family: "Arco";
    src: url("./fonts/ARCO.ttf");
}
h1,
h2 { 
  font-family:"Arco" 
}

.head{
  background-color: #2b2b2bff;
  height: 100px;
 
}


.custom-transform-origin {
  transform-origin: 0 300px;
  border: solid black 1px;
}
.spinnig-text-wrapper{
  width: 600px;
  height: 600px;
}